html, body {
    height: 100%;
    min-height: 100%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
}



.header {
    background-color: rgb(176, 228, 107);
    height: 10vh;
    display: flex; 
    justify-content: space-between;
    align-items: center;
}
.lable {
    margin-left: 10px;
}
.menu  {
     margin-right: 10px;
     display: flex;
     justify-content: flex-end;
     }
     /* --------------------------------------------------------------- */


                             /*  стилизируем бургер */

#menu-check {  /* прячем кнопку checkbox */
    opacity: 0;
}

.menu-button {
    display: flex; /* центровка содержимого */
    align-items: center;  /* центровка кнопки */
    position: fixed;
    top: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.menu-button > span,
 .menu-button> span::before,
 .menu-button > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
  }
  /* смещаем псевдоэлементы */
  .menu-button > span::before {
    content: '';
    top: -8px;
  }
 .menu-button > span::after {
    content: '';
    top: 8px;
  }

 /* контейнер меню */
 .menu__box {
    display: block;
   position: fixed;
    visibility: hidden;
    top: 79px;
    right:  0px;
    width: 17%;
    margin: 0;
    padding: 20px;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    z-index: 2;
  }
  
  /* элементи меню */
  .menu__item {
    display: block;
    padding: 12px 12px;
    color: #1b1919;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  /* рисуем крестик */
  #menu-check:checked ~ .menu-button > span {
    transform: rotate(45deg);
  }
  
  #menu-check:checked ~ .menu-button > span::before {
    top: 0;
    transform: rotate(0);
  }
  
  #menu-check:checked ~ .menu-button  > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  
  #menu-check:checked ~ .menu__box  {
    visibility: visible;
     }
  
.menu-button > span,
.menu-button > span::before,
.menu-button > span::after {
  transition-duration: .25s;
}
                     /* окончание стилизации бургера */
/* ---------------------------------------------------------------------- */


a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}
 ul li {
display: inline;
padding: 5px;
}

.main {
    flex: 1 1 auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    }

.mainText {   
    width: 0vw;
    flex-grow: 6;
}    

p {
    text-align: center;
    font-weight: 500;
    font-size: 1.25rem;
    flex: 1 1 auto;
}

h1 {
    text-align: center;
}

 .block {
    width: 15vw;
    min-width: 170px;
    border: 1px solid black;
    border-radius: 25px;
    display: flex;

    /* разворачиваем элементы внутри блочков */
    flex-direction: column;
    align-items: center;
 }

 
.block img {
    width: 100px;
    height: 100px;
    border: 10px solid sandybrown;
    border-radius: 50%;
    margin: 10px;
    align-items: flex-start;
    }

 .block p {
    font-size: 1rem;
 }   

 .button {
    width: 50px;
    border-radius: 10px ;
    background-color: rgb(203, 177, 253);
    margin: 10px;
    padding: 5px;
    align-items: flex-end;
}

.bigBlock1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
    margin: 15px 0;
 }    
 
 .bigBlock2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
    margin: 15px 0;
 }       


.asideLeft {
    background-color: pink;
    flex-grow: 1;
    display: none;
    }

.asideRight {
    background-color: aquamarine;
    flex-grow: 1;
    display: none;
    }

.footer {
    height: 5vh;
    background-color: greenyellow;
    text-align: center;
    font: 1.2rem sans-serif;
           }
/* ----------------------------------------------------------------------- */


                        /* делаем Декстопный адаптив */

@media (min-width: 769px) { 
                .asideRight {
                    display: block;}
                    .menu-button {
                      display: none;}
                    .menu__box {
                        display: flex; /* Возвращаем отображение обычного меню */
                        position: static;
                        visibility: visible;
                        width: auto;
                        height: auto;
                        padding: 0;
                        box-shadow: none;
                        background-color: rgb(176, 228, 107);
                      }
                      .menu__item {
                        display: inline-block; /* Меняем на inline-block, чтобы элементы располагались горизонтально */
                      }     
             }     

       
@media (min-width: 998px) { 
                .asideLeft {
                  display: block;}
             }       
